<template>
  <div>
    <div class="overflow-auto pagination1">
      <div class="mt-3">
        <b-pagination v-model="currentPage" pills :total-rows="rows">
          <slot></slot>
        </b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  rows: 100,
  currentPage: 1,
};
</script>

<style scoped></style>