<template>
  <div>
    <b-button variant="outline-primary" class="align-center">
      <slot></slot>
    </b-button>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
