<template>
    <div class="card h-100">
        <img :src="'https://www.somagnews.com/wp-content/uploads/2020/05/16a25e2fcd2090586c039207a2aa7014-e1590858135367.jpg'" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ CardPic.title }}</h5>
            <p class="card-text">{{ CardPic.description }}</p>
        </div>
    </div>
</template>

<script>
// import axios from 'axios'

export default {
    props :['CardPic'],
    data() {
        return {
            id : null,
        }
    },
    methods : {
        viewer(){
            this.$router.push("/readdetail")
        },

        editpost(e){
            console.log(e);
            // axios.get("http://127.0.0.1:8000/api/post/" + this.id)
        }
        
    }
}
</script>

<style scoped>
</style>