<template>
  <section>
    <div class="topside">
      <img
        class="imgLogo"
        src="../../assets/CMS-Logo-with-Knowledge-Tagline-removebg-preview (1).png"
        alt="logo"
      />
      <div class="rightside">
        <div class="text">
          <p class="username">{{userName}}</p>
          <small class="position">{{role}}</small>
        </div>
        <img
          class="imgProfile"
          @click="profile()"
          :src="'http://127.0.0.1:8000/storage/UserProfile/'+ image" 
          alt="user profile picture"
        />
      </div>
    </div>
    <div class="leftside">
      <a href="#">
        <li @click="allposts()">
          <font-awesome-icon
            style="
              margin-right: 20px;
              font-size: 40px;
              color: gray;
              transition: transform 0.2s;
            "
            hover="transform: scale(1.5);"
            icon="th"
          />
          <p>All Post</p>
        </li>
      </a>
      <a href="#">
        <li @click="createpost()">
          <font-awesome-icon
            style="
              margin-right: 20px;
              font-size: 40px;
              color: gray;
              transition: transform 0.2s;
            "
            hover="transform: scale(1.5);"
            icon="plus-circle"
          />
          <p>Add Post</p>
        </li>
      </a>
      <a href="#">
        <li @click="category()">
          <font-awesome-icon
            style="
              margin-right: 20px;
              font-size: 40px;
              color: gray;
              transition: transform 0.2s;
            "
            hover="transform: scale(1.5);"
            icon="tasks"
          />
          <p>Category</p>
        </li>
      </a>

      <a href="#">
        <li @click="profile()">
          <font-awesome-icon
            style="
              margin-right: 26px;
              margin-left: 5px;
              font-size: 32px;
              color: gray;
              transition: transform 0.2s;
            "
            hover="transform: scale(1.5);"
            icon="user"
          />
          <p>Profile</p>
        </li>
      </a>
      <a href="#">
        <li @click="manageuser()">
          <font-awesome-icon
            style="
              margin-right: 20px;
              font-size: 32px;
              color: gray;
              transition: transform 0.2s;
            "
            hover="transform: scale(1.5);"
            icon="users"
          />
          <p>All Users</p>
        </li>
      </a>
      <a href="#">
        <li @click="logout">
          <font-awesome-icon
            style="
              margin-right: 20px;
              font-size: 40px;
              color: gray;
              transition: transform 0.2s;
            "
            hover="transform: scale(1.5);"
            icon="sign-out-alt"
          />
          <p>Log out</p>
        </li>
      </a>
    </div>
  </section>
</template>
<script>
import axios from 'axios';
export default {
  $emits: ["logout"],
  data(){
    return {
      userName : null,
      role : null,
      image : null,
    }
  },
  methods: {
    logout() {
      localStorage.setItem("login", false);
      localStorage.clear();
      this.$emit("logout", false);
      this.$router.push("/");
    },
    profile() {
      this.$router.push("/userprofile");
    },
    allposts() {
      this.$router.push("/allpost");
    },
    createpost() {
      this.$router.push("/createpost");
    },
    category() {
      this.$router.push("/category");
    },
    manageuser() {
      this.$router.push("/manageuser");
    },
  },
  mounted(){
    axios.get('http://127.0.0.1:8000/api/user/' + localStorage.getItem('userId')).then(res => {
      // console.log(res.data);
      this.userName = res.data.name;
      this.role = res.data.role;
      this.image = res.data.profile;
    })
  }
}
</script>
<style scoped>
.topside {
  background-image: linear-gradient(to right, #3bcbe7, #2e93b7);
  display: flex;
  justify-content: space-between;
}
.imgLogo {
  margin: 7px;
  padding: 5px;
  width: 198px;
  height: 59px;
}
.text {
  text-align: right;
  font-family: Helvetica;
  font-size: 18px;
  color: rgb(207, 204, 204);
  margin-top: -13px;
  padding-right: 20px;
}
li {
  list-style: none;
  margin: 23px;
  display: flex;
}
li:hover {
  background: rgba(0, 0, 0, 0.3);
}
.leftside a {
  text-decoration: none;
  color: rgb(60, 91, 102);
}
.imgProfile {
  width: 50px;
  height: 50px;
}
.rightside {
  display: flex;
  padding: 10px;
  margin-right: 30px;
}
.leftside {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 227px;
  height: calc(100vh - 73px);
  padding-bottom: 20px;
  font-size: 15px;
  box-shadow: 1px 0px 10px grey;
  float: left;
}

.username {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 700;
}
.position {
  font-size: 13px;
  font-weight: 600;
}

a li p {
  margin-top: 7px;
}
</style>
