<template>
  <div class="body">
    <section class="filter">
      <b-container class="bv-example-row">
        <b-row>
          <b-col>
            <div class="search d-flex">
              <input class="form-control" type="text" placeholder="Search" v-model="search" aria-label="Search"/>
              <div class="btn btn-primary" @click="searchPost()">search</div>
              <div class="btn btn-danger" v-if="search != null" @click="cancelSearch()">Clear</div>
            </div>
          </b-col>
  
          <b-col>
              <div class="button-" @click="createpost()">
                  <base-button >Create</base-button>
              </div>
          </b-col>  
        </b-row>
      </b-container>
    </section>
   
    <div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" v-if="posts.length === 0">
          <h1>No data</h1>
        </div>

        <div class="col" v-else v-for="post in posts" :key="post.id"> 
          <div class="card h-70 mb-5">
            <img :src="'http://127.0.0.1:8000/storage/pictures/'+post.image" class="card-img-top" alt="..." style="height: 40vh;" @click="toDetail(post.id)">
            <div class="card-body d-flex">
              <div class="w-75">
                <h5 class="card-title">{{ post.title }}</h5>
              </div>
              <div class="d-flex">
                <button class="border-0 bg-transparent" @click="toDelete(post.id)">
                  <font-awesome-icon
                    style="
                            margin-right: 10px;
                            font-size: 20px;
                            color: red;
                            transition: transform 0.2s;
                         "
                    hover="transform: scale(1.5);"
                    icon="trash-alt"  
                     />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import BaseButton from '../ui/BaseButton.vue';

export default {
  components: {  BaseButton},
  data(){
    return {
      search : null,
      posts: [],
      options: [
          { value: null, text: 'Please select an option' },
          { value: 'a', text: 'This is First option' },
          { value: 'b', text: 'Filter by categary' },
          { value: { C: '3PO' }, text: 'This is an option with object value' },
          { value: 'd', text: 'This one is disabled', disabled: true }
        ],
        createpost() {
          this.$router.push("/createpost");
        } 
    }
    
  },
  methods: {

    getPost(){
      axios.get('http://127.0.0.1:8000/api/post').then((res) => {
        this.posts= res.data;
      })
    },
    toDetail(id){
      localStorage.setItem('detailId',id);
      console.log(id);
      this.$router.push("/readdetail")
    },
    toDelete(id){
      axios.delete('http://127.0.0.1:8000/api/post/'+id).then(()=>{
        this.getPost();
      })
    },
    searchPost(){
      if(this.search == "" || this.search == null) {
        this.getPost()
      }else {
        axios.get('http://127.0.0.1:8000/api/post/search/'+this.search).then(res => {
          this.posts = res.data
        })
      }
    },
    cancelSearch(){
      this.search = null;
      this.searchPost();
    },
    editPost(id){
      localStorage.setItem('editId',id);
      this.$router.push("/createpost")
    }
  },
  mounted(){
    this.getPost();
  },

};
</script>

<style>
.body{
  display: flex;
  flex-direction: column;
  height: 85vh;
  overflow-y:scroll;
  padding: 2rem;

} 
.page{
  margin-left: 34rem;
  
}
.CardPics{
  display: flex;
  max-width: 100%;
  padding: 1px;
  margin:0 auto;
}
/* .search{
  margin-top: 10px;
}
.select-form{
  margin-top: 10px;
}
.date-form{
  margin-top: 10px;
} */
.filter{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card-group .card {
    max-width: 25%;
}

</style>
