<template>
  <section>
    <h1>Categories</h1>
    <div class="box1">
      <div class="inputField">
        <!-- <div class="searchBar">
          <b-form-input v-model="search" placeholder="Search..."></b-form-input>
        </div> -->
        <div class="buttonGroup">
          <!-- Create Category -->
          <div>
            <b-button
              @click="$bvModal.show('modal-scoped')"
              v-b-modal.modal-lg
              class="createButton"
              ><font-awesome-icon icon="plus-circle" /> Add New
              Category</b-button
            >

            <b-modal id="modal-scoped" centered>
              <template #modal-header>
                <h2 style="color: #2c3e50">Create Category</h2>
              </template>
              <template>
                <table class="form-space" style="color: #2c3e50">
                  <tr>
                    <td><h5>Category Name &nbsp; &nbsp; &nbsp; &nbsp;</h5></td>
                    <td>
                      <b-form-input v-model="text"></b-form-input>
                    </td>
                  </tr>
                  <tr>
                    <td><h5>Description</h5></td>
                    <td>
                      <b-form-textarea
                        id="textarea-large"
                        v-model="description"
                        size="lg"
                      ></b-form-textarea>
                    </td>
                  </tr>
                </table>
              </template>
              <template #modal-footer="{ save, cancel }">
                <div class="popupButton">
                  <b-button size="sm" variant="danger" @click="cancel()">
                    Cancel
                  </b-button>
                  <b-button size="sm" variant="success" @click="saveIt()">
                    Save
                  </b-button>
                </div>
              </template>
            </b-modal>
          </div>

          <!-- Delete Categories -->
          <div>
            <!-- <b-button
              @click="$bvModal.show('modal-scoped1')"
              v-b-modal.modal-lg
              class="deleteButton"
              >Delete</b-button
            > -->
            <b-modal id="modal-scoped1" centered>
              <template #modal-header>
                <h2 style="color: #2c3e50">Are You Sure?</h2>
              </template>
              <template>
                <h5>Do you want to delete this category?</h5>
              </template>
              <template #modal-footer="{ yes, cancel }">
                <div class="popupButton">
                  <b-button size="sm" variant="danger" @click="cancel()"
                    >Cancel</b-button
                  >
                  <b-button size="sm" variant="success" @click="yes()"
                    >Yes</b-button
                  >
                </div>
              </template>
            </b-modal>
          </div>
        </div>
      </div>

      <!-- Table -->
      <div>
        <b-table striped hover :items="tableData" :fields="tableHead">
        </b-table>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      tableHead: [
        { key: "selected", label: "", tdClass: "p-0 h-1px" },
        { key: "Name", label: "Name", sortable: true },
        { key: "Description", label: "Description", sortable: false },
      ],

      tableData: [
        {
          Name: "Today's News",
          Description: "Everyday events happening around the world.",
        },
        { Name: "Entertainment", Description: "News about social events" },
        {
          Name: "Technologies",
          Description: "News about exciting and upcoming tech.",
        },
        {
          Name: "Sports",
          Description: "News about everything related to sports.",
        },
      ],
      text : "",
      description : "",
    };
  },
  methods : {
      getData(){
          axios.get("http://127.0.0.1:8000/api/category").then((res) => {
            // for(let data of res.data){
            //     let obj = {title : data.title, description : data.description}
            //     this.tableData.push(obj)
            // }
            this.tableData = res.data.map((data) => ({
              Name: data.title,
              Description: data.description,
            }));
            console.log(this.tableData);
          });
      },
      saveIt(){
          let newCat = {title : this.text, description : this.description};
          axios.post("http://127.0.0.1:8000/api/category",newCat).then(() => {
            this.getData();
            // window.location.reload();
            this.$router.push('/category');
          })
      }
  },
  mounted() {
    this.getData()
  },
};
</script>

<style scoped>
div {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 77px;
  text-align: left;
  margin-left: calc(6vh + 227px);
  margin-top: 5vh;
}

.searchBar {
  width: 45vh;
  margin: 5px;
}

.buttonGroup {
  display: flex;
  margin: 5px;
}

.box1 {
  padding: 2vh 5vh 5vh 5vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.deleteButton {
  background-color: rgb(229, 98, 98) !important;
  margin-left: 2vh;
  border: 0px !important;
}

.createButton {
  width: 25vh;
  background-color: rgb(58, 196, 225) !important;
  border: 0px !important;
}

.inputField {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.modal-button {
  background: green !important;
}

.popupButton {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
</style>
