<template>
  <section>
    <h1 class="title1">Create Post</h1>
    <b-form @reset="onReset" v-if="show" class="box2">
      <!-- File Form -->
      <div class="file-box">
        <h2 class="far fa-images" style="font-size: 10vw"></h2>
        <b-form-file
          v-model="file"
          :state="Boolean(file)"
          accept="image/*"
          placeholder="Drop Your File Here ..."
          drop-placeholder="Drop file here..."
          @change="changeProfile"
          required
        ></b-form-file>
        <div class="mt-3">Selected file: {{ file ? file.name : "" }}</div>
      </div>

      <!-- Input Form -->
      <div class="input-box">
        <div>
          <b-form-group id="input-group-1" label-for="input-1">
            <h4 class="field-title">Title:</h4>
            <b-form-input
              id="input-1"
              v-model="title"
              placeholder="Enter Title"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label-for="input-2">
            <h4 class="field-title">Description:</h4>
            <b-form-textarea
              id="input-2"
              v-model="description"
              placeholder="Describe Your Story"
              required
              no-resize
              rows="8"
            ></b-form-textarea>
          </b-form-group>

          <h4 class="field-title">Category:</h4>
          <div class="cat-button">
            <div>
              <b-form-group id="input-group-3" label-for="input-3">
                <b-form-select
                  id="input-3"
                  placeholder="Choose Category"
                  v-model="category"
                  :options="categoriesTitle"
                  required
                  style="width: 18vw"
                ></b-form-select>
              </b-form-group>
            </div>
            <div class="button-group">
              <b-button type="reset" variant="danger">Reset</b-button>
              <b-button @click="onSubmit" variant="primary" v-if="!ifEdit"
                >Submit</b-button
              >
              <b-button @click="editItNow" variant="warning" v-else
                >Edit it</b-button
              >
            </div>
          </div>
        </div>
      </div>
    </b-form>
  </section>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      imagePost: null,
      title: "",
      description: "",
      category: null,
      categorySelected: null,
      categories: [],
      categoriesTitle: [],
      show: true,
      ifEdit: false,
    };
  },

  methods: {
    changeProfile(e) {
      this.imagePost = e.target.files[0];
    },
    onReset() {
      // Reset our form values
      this.form.file = null;
      this.form.title = "";
      this.form.description = "";
      this.category = null;
      this.form.author = "";
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },

    onSubmit() {
      this.getCategoryID();
      let form = new FormData();
      form.append("title", this.title);
      form.append("description", this.description);
      form.append("category_id", this.categorySelected);
      form.append("image", this.imagePost);
      axios
        .post("http://127.0.0.1:8000/api/post", form)
        .then((res) => {
          console.log(res.data);
          this.$router.push("/allpost");
        })
        .catch((error) => {
          console.log(error.message);
        });
      // alert(JSON.stringify(this.form))
    },
    getCategory() {
      axios.get("http://127.0.0.1:8000/api/category").then((res) => {
        this.categories = res.data;
        // console.log(this.categories);
        for (let cat of this.categories) {
          this.categoriesTitle.push(cat.title);
        }
      });
    },

    getCategoryID() {
      for (let cat of this.categories) {
        if (cat.title == this.category) {
          this.categorySelected = cat.id;
        }
      }
    },
    editIt() {
      axios
        .get("http://127.0.0.1:8000/api/post/" + localStorage.getItem("editId"))
        .then((res) => {
          localStorage.setItem("idForEdit", localStorage.getItem("editId"));
          localStorage.setItem("editId", undefined);
          this.title = res.data.title;
          this.description = res.data.description;
          this.imagePost = res.data.image;
          this.getCategory();
        });
    },
    editItNow() {
      this.getCategoryID();
      let form = new FormData();
      form.append("title", this.title);
      form.append("description", this.description);
      form.append("category_id", this.categorySelected);
      form.append("image", this.imagePost);
      axios
        .put(
          "http://127.0.0.1:8000/api/post/" + localStorage.getItem("idForEdit"),
          form
        )
        .then((res) => {
          console.log(res.data);
        });
    },
  },

  mounted() {
    // console.log('hello');
    if (localStorage.getItem("editId") != "undefined" && this.ifEdit == false && localStorage.getItem("editId") != undefined) {
      this.ifEdit = true;
      this.editIt();
    } else {
      this.ifEdit = false;
      this.getCategory();
    }
  },
};
</script>

<style>
.title1 {
  font-weight: bold !important;
  font-size: 60px !important;
  line-height: 77px !important;
  text-align: left;
  margin-left: calc(6vh + 227px);
  margin-top: 5vh !important;
}

.box2 {
  height: 70vh;
  padding: 15px 15px 15px 50px;
  display: flex;
  justify-content: space-between;
}

.file-box {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 20;
}

.input-box {
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 5vw 0 5vw;
}

.input-box-inline {
  display: flex;
  justify-content: space-between;
}

.field-title {
  text-align: left;
  font-weight: bold;
}

.button-group {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.custom-file-label::after {
  display: none !important;
}

.custom-file {
  height: 60% !important;
  border: 2px dashed black;
  border-radius: 10px;
}

.custom-file-label {
  height: 100% !important;
  border: transparent !important;
  cursor: pointer;
}

#input-group-3 {
  margin: 0;
}

.cat-button {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  width: 40%;
}
</style>