<template >
  <section class="section-container">
    <div class="container">
      <!-- Image -->
      <div class="image">
        <img src="../../assets/backgound_login.jpg" />
      </div>
      <!-- form -->
      <div class="form">
        <h4 class="title">
          <a class="atagunderlineremove"> Log in </a> | Register
        </h4>
        <!-- form field -->
        <form @submit.prevent="login">
          <div class="mb-5">
            <input
              type="email"
              class="form-control"
              placeholder="Please Enter you email"
              id="email"
              v-model="email"
              for="email"
            />
          </div>

          <div class="mb-5">
            <input
              type="password"
              class="form-control"
              placeholder="Please input password"
              id="password"
              v-model="password"
              for="password"
            />
          </div>
          <button type="submit" class="btn btn-primary btnposition">
            Log in
          </button>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";
export default {
  $emits: ["login"],
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    login() {
      let user = {
        email: this.email,
        password: this.password,
      };
      // }

      axios
        .post("http://127.0.0.1:8000/api/signin", user)
        .then(res => {
          // res.data.user;
          this.$emit("login", true);
          localStorage.setItem("login", true);
          console.log(res.data);
          localStorage.setItem("userId", res.data.user[0].id);
          this.$router.push({ path: "/allpost" });
          // console.log("success");
        })
        .catch((error) => {
          console.log(error);
          if (error.response.data.email_err && error.response.status === 401) {
            alert(error.response.data.email_err);
          }
          if (
            error.response.data.password_err &&
            error.response.status === 401
          ) {
            alert(error.response.data.password_err);
          }

          error.response.data.email_err;
          // console.log(error);
        });
    },
    mounted() {
      if (localStorage.getItem("login") == true) {
        this.ifShowNav = true;
        this.$router.push({ path: "/allpost" });
      } else {
        this.$router.push({ path: "/" });
      }
    },
  },
};
</script>

<style scoped>

div{
  padding: 0;
  margin: 0;
}

.section-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 50vw;
  height: 70vh;
  display: flex;
  box-shadow: 1px 0px 10px grey;

}

.image {
  width: 50%;
}

.image img {
  width: 25vw;
  height: 70vh;
  object-fit: cover;
}

.atagunderlineremove {
  color: #3ac4e1;
  text-decoration: none;
}

.title{
  font-weight: 700;
  margin-bottom: 10vh;
}

.form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>