<template>
    <section>
        <h1>Manage User</h1>
        <div class="box12">
            <div class="inputField">
                <div class="searchBar">
                    <b-form-input v-model="text" placeholder="Search..."></b-form-input>
                </div>
                <div class="buttonGroup">
                    
                    <!-- Delete User -->
                    <div>
                        <b-button @click="$bvModal.show('modal-scoped1')" v-b-modal.modal-lg class="deleteButton">Delete</b-button>
                        <b-modal id="modal-scoped1" centered>
                            <template #modal-header>
                                <h2 style="color: #2c3e50">Are You Sure?</h2>
                            </template>
                            <template>
                                <h5>Do you want to delete this user?</h5>
                            </template>
                            <template #modal-footer="{cancel}">
                                <div class="popupButton">
                                     <b-button size="sm" variant="danger" @click="cancel()">
                                        Cancel
                                    </b-button>
                                    <b-button size="sm" variant="success" @click="deleteAll()">
                                        Yes
                                    </b-button>
                                </div>
                            </template>
                        </b-modal>
                    </div>      
                </div>
            </div>

            <!-- Table -->
            <div class="box13">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <label class="form-checkbox">
                                    <input type="checkbox" v-model="selectAll" @click="select">
                                    <i class="form-icon"></i>
                                </label>
                            </th>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>EMAIL</th>
                            <th><i class="fa fa-ellipsis-h"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users" :key="user.id">
                            <td>
                                <label class="form-checkbox">
                                    <input type="checkbox" :value="user.id" v-model="selected">
                                    <i class="form-icon"></i>
                                </label>
                            </td>
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <button class="border border-0 bg-transparent"><font-awesome-icon
                                    style="
                                        margin-right: 0px;
                                        font-size: 15px;
                                        color: black;
                                        transition: transform 0.2s;
                                    "
                                    hover="transform: scale(1.5);"
                                    icon="pencil-alt"
                                    /></button>
                                <button class="border border-0 bg-transparent" @click="$bvModal.show('modal-scoped1')" v-b-modal.modal-lg><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            selected: [],
            selectAll: false,
            users : [],
            text:"",
        };
    },
    methods: {
        select() {
            this.selected = [];
            
            if (!this.selectAll) {
                for (let user of this.users) {
                    this.selected.push(user.id);
                }
            }
            console.log(this.selected);
        },
        getUser(){
            axios.get("http://127.0.0.1:8000/api/user").then((res) => {
                this.users = res.data;
            });
        },
        deleteAll(){
            for (let number of this.selected){
                axios.delete("http://127.0.0.1:8000/api/user/" + number).then(() => {
                    console.log('success');
                }) 
            }
            this.getUser();
        }
    },
    mounted(){
        this.getUser();
    }
}
</script>

<style scoped>
div{
margin: 0;
padding: 0;
}

h1 {
font-weight: bold !important;
font-size: 60px !important;
line-height: 77px !important;
text-align: left;
margin-left: calc(6vh + 227px);
margin-top: 5vh !important;
}

.searchBar{
width: 45vh;
margin: 5px;
}

.buttonGroup{
display: flex;
margin: 5px;
}

.box12{
padding: 2vh 5vh 5vh 5vh;
display: flex;
justify-content: space-between;
flex-direction: column;
}

.deleteButton{
    background-color: rgb(229, 98, 98) !important;
    margin-left: 2vh;
    border: 0px !important;
}

.createButton{
    width: 25vh;
    background-color: rgb(58, 196, 225) !important;
    border: 0px !important;
}

.inputField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-button{
    background: green !important;
}

.popupButton{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

</style>