<template>
<section class="body">
<div class="all">
      <div class="head">
      <h1>{{title}}</h1>
    </div>
    <div class="inner-box">
                <!-- <div class="edit">
                <li>
                    <font-awesome-icon
                    style="
                            margin-right: 20px;
                            font-size: 20px;
                            color: gray;
                            transition: transform 0.2s;
                         "
                    hover="transform: scale(1.5);"
                    icon="edit"  
                     />
                </li>
               </div>
              <div class="delete"> -->
                <!-- <li> -->
                 <!-- <li>
                    <font-awesome-icon
                    style="
                            margin-right: 20px;
                            font-size: 20px;
                            color: gray;
                            transition: transform 0.2s;
                         "
                    hover="transform: scale(1.5);"
                    icon="trash-alt"  
                     />
                </li> -->
                <!-- </li> -->
              <!-- </div> -->
       </div>
  </div>
<div class="date">
    <div class="signName">
      <p>Written By: Ratha Heng</p>
    </div>
      <p><i class="far fa-clock"></i>{{createAt}}</p>
</div>
<div class="reading">
  <img :src="'http://127.0.0.1:8000/storage/pictures/' + image" alt="">
  <div class="paragraph">
      <p>{{description}}</p>
</div>
  </div>
  
</section>
  
  
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return{
      post : null,
      createAt : null,
      image : null,
      description : null,
      title : null,
    }
  },
  methods: {
    display(){
      this.title = this.post.title;
      this.description = this.post.description;
      this.image = this.post.image;
      this.createAt = this.post.created_at
    }
  },
  mounted(){
    axios.get('http://127.0.0.1:8000/api/post/'+localStorage.getItem('detailId')).then(res => {
      this.post = res.data;
      this.display();
    })
  },

}
</script>

<style>
.inner-box{
  display: flex;
  list-style: none;
  
}
.head h1{
  font-weight: bold;
  font-size: 64px;
  float: left;
  color: black;
}
.all{
        width: 80%;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
    }
  .date{
    width: 80%;
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-top:1rem;
    justify-content: space-between;
  }
  .signName{
    margin-left: 13rem;
    font-size: 10px;
  }
  .date p{
    font-size: 10px;
  }
  .body{
    height: 85vh;
    overflow-y: scroll;
  }
  .reading img{
      width: 50%;
      height: auto;
  }
</style>