<template>
  <section>
    <b-container class="bv-example-row">
      <b-row>
        <b-col class="UserPro">
          <h1>User Manage profile</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="iconU">
          <i class="fas fa-user-circle" v-if="userProfile == null"></i>
          <img :src="'http://127.0.0.1:8000/storage/UserProfile/' + userProfile" alt="" class="image" v-else>
        </b-col>
         <b-col class="iconU">
           <div class="first">
              <h3>Name</h3>
              <b-form-input v-model="userName" ></b-form-input>
           </div>
           
          <div class="last">
             <h3>User Role</h3>
             <b-form-input v-model="role" ></b-form-input>
          </div>
         
        </b-col>
      </b-row>
       <b-row class="mail-pass"> 
        <b-col >
          <h3>Email</h3>
             <b-form-input v-model="userEmail" ></b-form-input>
        </b-col>
        <b-col >
          <h3>Password</h3>
             <b-form-input v-model="text" ></b-form-input>
        </b-col>
      </b-row>
      <b-row class="Btt"> 
        <base-button class="btnsave">Save edit</base-button>
      </b-row>
  </b-container>
    
  </section>
    
</template>

<script>
import BaseButton from '../ui/BaseButton.vue'
import axios from 'axios'
export default {
  components: { BaseButton },
  $emits : ['logout'],
  data(){
    return {
      userProfile : null,
      userName : null,
      user : null,
      userEmail : null,
      firstName : null,
      role : null,
    }
  },
  methods: {
    getUserProfile(){
      // this.userName= user.namesplit(" ")
      this.userEmail = this.user.email;
      this.userName = this.user.name;
      this.role = this.user.role;
      this.userProfile = this.user.profile;
      console.log(this.userProfile);
    },
    logout() {
      localStorage.clear();
      this.$emit("logout", false);
      this.$router.push("/");
    },
  },
  mounted() {
    axios.get('http://127.0.0.1:8000/api/user/' + localStorage.getItem('userId')).then(res => {
      console.log(res.data);
      this.user = res.data;
      this.getUserProfile();
    }
    )
  },
}
</script>

<style>
  .image {
    width: 270px;
    border-radius: 50%;
    height: 270px;
  }
  .UserPro h1{
    font-weight: bold;
    font-size: 64px;
    float: left;
    margin-left: 5rem;
  }
  .iconU i{
    font-size: 250px;
  }
  .iconU{
    margin-top: 3rem;
  }
  h3{
    float: left;
    font-weight: bold;
    font-size: 22px;
  }
  .last h3{
    margin-top: 3rem;
  }
  .mail-pass{
    margin-top: 4rem;
    margin-left: 7rem;
  }
  .btnsave{
    margin-top: 20px;
    
  }
  .Btt{
    justify-content: flex-end;
    display: none;
  }

</style>