<template>
  <div id="app">
    <Nav v-if="ifShowNav" @logout="signOut" />
    <router-view @login="singIn"></router-view>

  </div>
</template>

<script>
import Nav from "@/components/navigration/Nav.vue";

export default {
  name: "App",
  // components: {
  //   Login,
  // },
  components: {
    Nav,
    // Login,
  },
  data() {
    return {
      ifShowNav : false,
    }
  },
  methods: {
    signOut(e){
      console.log(e)
      this.ifShowNav = e;
    },
    singIn(e){
      this.ifShowNav = e;
    }
  },
  mounted(){
    if(localStorage.getItem('login') == true || localStorage.getItem('userId') != undefined){
      this.ifShowNav = true
      this.$router.push({ path: "/allpost" });
    }else{
       this.$router.push({ path: "/" });
    }
  }
}

</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px;  */
}
/* margin-top: 60px;
}  */
</style>
